@import url("photographer.css");


/* CODE GENERAL ET DE LA PAGE D'ACCUEIL*/

/*Général */

body {
    font-family: "DM Sans", sans-serif;
    margin: 0 auto;
    max-width: 1400px;
}

a:focus-visible {
    outline: 3px solid  #D3573C;
}

button:focus-visible {
    outline: 3px solid  #D3573C;
}

input:focus-visible {
    outline: 3px solid #901C1C;
}

textarea:focus-visible {
    outline: 3px solid #901C1C;
}


/*Le header*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}


h1 {
    color: #901C1C;
    margin-right: 50px;
}

.logo {
    width: 200px;
    height: 50px;
    padding-left: 50px;
}


/*Section photographers*/

.photographers .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.photographers article a {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;

}

.photographers article h2 {
    color: #D3573C;
    font-size: 36px;
    margin-bottom: 0;
}

.photographers article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.photographers article p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 0;
}

.photographers article span {
    margin-bottom: 5px;
}

.photographers .location {
    color: #901C1C;
    font-size: 19px;
}

.photographers .moto {
    font-size: 16px;
}

.photographers .price {
    color: #757575;
    font-size: 15px;
}

@media (max-width: 1000px) {
    .photographers .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 800px) {
    .logo {
        padding-left: 0;
        margin-top: 30px;
    }

    header {
        flex-direction: column;
    }

    h1 {
        margin: 0;
    }

    .photographers .grid {
        grid-template-columns: 1fr;
    }
}